

<div class="form">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <h3 class="titulo">Selecione um novo usuário:</h3>
        <label class="titulo">Usuário</label>
            <select formControlName="idUsuario" [(value)]="selectedUser" class="form-control">
                <option [value] = "user.id" *ngFor = "let user of users">
                        {{user.name}}
                </option>
            </select>

      </div>
      <label class="titulo">Novo título</label>
        <input class="form-control"
            type="text"
            placeholder="Título da Tarefa"
            maxlength="60"
            id="{id}"
            formControlName="tituloTarefa">
            <h3 class="titulo">Status da tarefa: </h3>
        <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
               formControlName="statusTarefa"
              >
              <label class="custom-control-label" for="defaultUnchecked">Completa</label>
        </div>
        <div>
            <input type="submit" name="Enviar"(click)="add()" class="btn btn-primary" value="Enviar">
            <input type="reset" name="Redefinir" class="btn btn-primary" value="Limpar">
        </div>
    </form>

</div>

