.titulo{
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 20px;
}
.form{
  margin-top: 20px;
}
.form-control{
  width: 50%;
}
.btn-primary{
  margin-top: 20px;
  margin-right: 10px;
}
.custom-control-label{
  margin-right: 30px;
}
