<h3>Selecione um usuário:</h3>
    <label>Usuário </label>
        <select [(value)]="selectedUser">
            <option [value] = "user.name" *ngFor = "let user of users">
                    {{user.name}}
            </option>                
        </select>

<p></p>
<h3>Nova Tarefa:</h3>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <input 
            type="text" 
            placeholder="Título da Tarefa" 
            maxlength="60">
        <h1>
            <input type="submit" name="Enviar"(click)="add()">
            <input type="reset" name="Redefinir">
        </h1>
    </form>


    
        