h3 {
    font-style: italic;
    border: none;
    padding: 5px;
    color: rgb(216, 70, 179);
}

h1>input {
    cursor: pointer; 
}

h1>input {
    background-color: rgb(230, 152, 210);
    border: none;
    padding: 5px;
    color: white;
    border-radius: 30px;
    font-weight: 40;
    width:10%;
    height:15%;
    margin: 2px;
}

input {
    width: 20%;
    text-indent: center;
    border-radius: 30px;
}