<div>
  <h4 class="subtitulo">Visualizador de tarefas e de usuários</h4>
    <div>
      <ul>
        <li class="bts">
            <a class="button" [routerLink] = "['/querytasks']">
                Ver Todas as tarefas
            </a>
        </li>

        <li class="bts">
            <a class="button" [routerLink] = "['/filter']">
                Filtrar tarefas por usuário
            </a>
        </li>

        <li class="bts">
            <a class="button" [routerLink] = "['/registertasks']">
                Cadastrar Tarefa
            </a>
        </li>
    </ul>
  </div>

</div>
