ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    padding: .8em;
    min-width: 50%;
    box-sizing: border-box;
}

.bts{
  margin-top: 2%;
  margin-right: -200px;

}
.button{
    display: block;
    width: 350px;
    background-color: #007bff;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-radius: 4px;
    padding: 2em;
    box-sizing: border-box;
    font-family: Open Sans;
}

.button:hover{
    background-color: #0069d9;
}

a{
    text-decoration: none;
}
.subtitulo{
  text-align: center;
  font-size: 30px;
  font-family: Open Sans;
}
