.task-item{
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.btn {
  margin-left: 50%;
  margin-top: -5%;
  width: 50%;
}
.titulo{
  font-size: 18px;
  font-family: Helvetica;
}
a{
  text-decoration: none;
  color: azure;
}
