<h1>Listagem de Tarefas</h1>
<div class="mat-elevation-z8 tabela">
    <table mat-table [dataSource]="tasks" aria-label="Elements" class="task-item">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="titulo">Título da Tarefa</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>
      <!-- Completed status Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef class="titulo">Status</th>
        <td mat-cell *matCellDef="let row">{{row.completed}}</td>
      </ng-container>

       <!-- userId Column -->
       <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef class="titulo">Usuário Responsável</th>
        <td mat-cell *matCellDef="let row">{{row.user.name}}
          <a class="button" [routerLink] = "['/edittask/'+row.id]"><button type="button" class="btn btn-primary">Editar</button></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
