<h4>Selecione um usuário</h4>
<mat-form-field appearance="fill">
  <mat-label>Usuário</mat-label>
  <mat-select [(value)]="selectedUser" (selectionChange) = "getSelectedUserTasks($event)">
    <mat-option></mat-option>
    <mat-option [value] = "user.id" *ngFor = "let user of users">{{ user.name }}</mat-option>
  </mat-select>
</mat-form-field>


<table *ngIf = "selectedUser" mat-table [dataSource] = "tasks" class = "mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- UserId Column -->
    <ng-container matColumnDef = "userId">
      <th mat-header-cell *matHeaderCellDef> Id do usuário </th>
      <td mat-cell *matCellDef = "let element"> {{element.userId}} </td>
    </ng-container>
  
    <!-- Id Column -->
    <ng-container matColumnDef = "id">
      <th mat-header-cell *matHeaderCellDef> Id da tarefa </th>
      <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef = "title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef = "let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Completed Column -->
    <ng-container matColumnDef = "completed">
      <th mat-header-cell *matHeaderCellDef> Completa </th>
      <td mat-cell *matCellDef = "let element"> {{element.completed}} </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef = "user.name">
        <th mat-header-cell *matHeaderCellDef> Usuário responsável </th>
        <td mat-cell *matCellDef = "let element"> {{element.user.name}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
