.nav-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 0 .35em;
}

a{
    color: white;
    text-decoration: none;
    font: 1em;
}

nav a{
    color: #f0f0f0;
    font-size: .75em;
}

nav a:hover{
    color: #fff;
}

.bg-blue{
    background-color: #007bff;
    height: 10%;
}
.titulo{
  font-family: Comfortaa;
  font-size: 30px;
}
.subtitulos{
  margin-top: 1.3%;
  font-family: Open Sans;
  font-size: 22px;
}
